@font-face {
  font-family: "Desktop fonts";
  src: url(Stratos/statosskyeng-v1.001/Desktop-fonts/stratosskyeng-regular.otf);
}

* {
  margin: 0;
  padding: 0;
}

.heading,
.button,
.radio-toolbar label
 {
  font-family: "Desktop fonts";
}

.difficulty-selection-page {
  height: 100vh;
  background-color: #004980;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-item {
  width: 480px;
  height: 459px;
  background-color: #C2F5FF;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.heading {
  text-align: center;
  color: #004980;
  font-size: 48px;
}

.radio-toolbar {
  display: flex;
  gap: 32px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  width: 98px;
  height: 98px;
  border-radius: 12px;
  background-color: #FFFFFF;
  font-size: 64px;
  color: #0080C1;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #d0ffb7;
  border: 1px solid #1CA92E;
}

label {
  display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
  width: 246px;
    height: 50px;
    border-radius: 12px;
    background: #7AC100;
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    cursor: pointer;
}